.container {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-width: 80%;
  height: fit-content;
  border-radius: 10px;
  background: #3a3434;
  padding: 20px;
  box-sizing: border-box;
  font-family: Helvetica;
  gap: 0.5rem;
  font: 1rem;
}

.title {
  margin-bottom: 10px;
}

.job {
  font-size: 2rem;
  font-weight: bold;

  color: #fb4e4e;
}
.at {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 8px;
}

.company {
  font-size: 2rem;
  font-weight: bold;
  color: #fb4e4e;
}

.date {
  font-size: inherit;
  letter-spacing: 3px;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 96%;
  justify-content: flex-start;
  gap: 0.5rem;
}

.tech {
  font-size: 1.5rem;
  font-weight: 450;
}
.label {
  font-weight: bold;
  color: #fb4e4e;
  margin-right: 6px;
  font-size: 1.5rem;
}

.desc {
  font-size: 1.2rem;
  font-weight: 500;
}

.list {
  list-style-type: "✨ ";
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 639px) {
  .container {
    max-width: 90%;
    flex-wrap: wrap;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .job,
  .company {
    font-size: 2.1rem;
  }
  .inner {
    justify-content: center;
    place-items: center;
    width: 100%;
    gap: 1rem;
  }

  .date {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .list {
    font-size: 1.3rem;
  }
  .tech {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .container {
    min-width: 100%;
    padding: 15px 12px;
  }
  .date {
    display: flex;
    justify-content: center;
  }
}
