.inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 40%;
  min-height: 20rem;
  align-items: stretch;
  padding: 2rem;
  border-radius: 10px;
  background: #3a3434;
  margin: 10px;
  gap: 1rem;
  box-sizing: border-box;
  color: white;
}
.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.images > * {
  margin: 0 0.3rem;
}

.tech_stack {
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
}
.label,
.title,
.repo > :not(svg) {
  color: #fb4e4e;
}

.label {
  margin-right: 10px;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.repo {
  width: fit-content;
  font-weight: 550;
  display: flex;

  place-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.description {
  color: #c6c1c1;
  font-size: 1.4rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .inner_container {
    max-width: 80%;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .upper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .bottom {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .inner_container {
    width: 90%;
  }
  .upper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .bottom {
    align-items: center;
    text-align: center;
  }

  .tech_stack {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .inner_container {
    width: 70%;
    align-items: center;
    flex-direction: column;
  }
  .upper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .tech_stack {
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
  .bottom {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 639px) {
  .inner_container {
    width: 85%;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
  }
  .upper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .tech_stack {
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
  }
  .bottom {
    text-align: center;
  }
  .description {
    font-size: 1.3rem;
  }
  .repo {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
  }
}
