.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  min-width: 100%;
  gap: 4rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  animation: slideIn 0.5s ease-in-out;
}
.label {
  width: 50%;
  letter-spacing: 2px;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fb4e4e;
  display: flex;
  place-items: center;
  justify-content: center;
}
.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  gap: 5rem;
}

.courses {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .education {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: auto;
    max-width: 100%;
  }
  .label {
    width: 80%;
    text-align: center;
    transform: translateX(0%);
    font-size: 4rem;
    display: flex;
    place-content: center;
  }
  .courses {
    padding: 1rem;
    text-align: center;
    width: 80%;
    transform: translateX(0%);
  }
}

@media screen and (max-width: 479px) {
  .label {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
